* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: red;
    --secondary-color: burlywood;
    --tertiary-color: rgb(97, 43, 11);
}


/* Header Styling */
header {
    padding: 20px;
    position: sticky;
    height: 8%;
}

header h1 {
    text-align: left;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 22px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-links li a:hover {
    color:blue;
    font-weight: bold;
}

/* body styling */
body {
    background-color:var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

body h2 {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

body h3 {
    text-align: center;
    color: var(--tertiary-color);
}


/* jumbotron style */
.jumbotron {
height: 700px;
width: 100%;
margin-bottom: 25px;
background-image: url("../images/workshop.jpg");
background-size: cover;
background-position: center;
}


#portfolio, #resume, #contact {
    background-color: var(--secondary-color);
    margin-bottom: 2%;
    border-bottom: solid 5px var(--tertiary-color); 
}


/* Portfolio styling */
.portfolio-img img {
    max-height: 200px;
    padding: 5px;
    background-color: white;
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.portfolio-list {
    list-style-type: square;
    padding-left: 2%;
    display: flex;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list-container {
    display: flex;
    flex-grow: 1;
    line-height: 2.5;
    justify-content: center;
}    

.portfolio-text {
    display: block;
    width: 100%;
}

.portfolio-list li img {
    aspect-ratio: 16 / 9;
    max-width: 175px;
}

.portfolio-list li a:hover {
    color:red;
}

/* Bio Styling */
#bio {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: space-around;
    border-bottom: solid 5px var(--tertiary-color);
}

.bio-image, .bio-text {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.bio-text {
    padding: 20px;
}

.bio-image img {
    max-height: 500px;
    padding: 20px;  
    max-width: 100%;
}

/* Resume styling */
.resume-preview {
    display: flex;
    flex-wrap: wrap;
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
}

.resume-container object {
    border: solid var(--tertiary-color) 3px;
    padding: 1%;
    width: 100%;
}

.resume-img img {
    max-height: 200px;
    padding: 5px;
    background-color: white;
}

.resume-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resume-img p {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.resume-preview {
    width: 90%;
    height: 600px;
    margin: auto 5%;
    max-height: 75%;
}

/* Contact styling */
#contact {
    border-bottom: none;
}
.contact-text {
    display: inline-block;

}
.contact-img {
    display: inline-block;
}
.contact-img img {
    max-height: 200px;
    padding: 20px;
    background-color: white;
    display: inline-block;
    flex-wrap: wrap;
}

.contact-text address {
    line-height: 2.5;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact-img, .contact-text {
    border: none;
}

.section-title {
    display: block;
    width: 100%;
    text-align: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    #bio {
        display: block;
        text-align: center;
    }

    .bio-image {
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        width: 75%;
    }

    .bio-text {
        margin: auto;
        width: 75%;
    }
}

    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 768px) {
    .resume-preview {
        display: none;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .portfolio-list li img {
        max-width: 125px;
    }
}
